<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/default/default.css"/>
		<script src="/static/js/jquery/jquery-3.4.1.min.js" ></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>

	<div id="contain">
			<h5>欢迎使用 <strong>Y&L餐饮管理系统</strong></h5>
		<div id="content">
			<div id="default1">
				<img src="/static/image/default1.png" class="default_image"/>
				<div class="default_content"><strong>业务深度开放</strong><br><br>基于商家需求，提供店铺、商品、订单、配送等业务在内的丰富接口。</div>
			</div>
			<div id="default2">
				<img src="/static/image/default2.png" class="default_image"/>
				<div class="default_content"><strong>快速对接</strong><br><br>提供完善的对接服务，无需咨询客服，开发者可无缝、便捷、高效地接入服务。</div>
			</div>
			<div id="default3">
				<img src="/static/image/default3.png" class="default_image"/>
				<div class="default_content"><strong>完善的服务支持</strong><br><br>提供稳定的运行环境24 小时自助服务，有完善的应用监控、服务告警。</div>
			</div>
			<div id="default4">
				<img src="/static/image/default4.png" class="default_image"/>
				<div class="default_content"><strong>在线问答社区</strong><br><br>直接面对开发者，沟通更加有效，提问更加直接。</div>
			</div>
		</div>
	</div>
	</body>
</html>

